/* Resetiranje defaultnih stilova */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Osnovni stil stranice */
  body {
    line-height: 1.6;
    background-color: #f9f9f9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgb(0, 0, 0, 0.7)), url(https://images.adsttc.com/media/images/610d/33ac/f91c/81e2/e400/017c/large_jpg/07-A_1V7A0735_BELLE_CL-01.jpg?1628255125);
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
    color: white;
  }
  
  header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 2rem;
    animation: fadeInUp 1s ease-out;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #f26725;
  }
  
  form {
    padding:150px 200px 70px 200px;
    animation: fadeInUp 1s ease-out;
  }
  
  h2 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-size: 1.4rem;
    margin-top: 1rem;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #f26725;
    color: white;
    margin: 20px 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #e0561b;
  }
  
  footer {
    text-align: center;
    padding: 2rem;
  }
  
  /* Animacije */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }