/* Resetiranje defaultnih stilova */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Osnovni stil stranice */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgb(0, 0, 0, 0.7)), url(https://images.adsttc.com/media/images/610d/33ac/f91c/81e2/e400/017c/large_jpg/07-A_1V7A0735_BELLE_CL-01.jpg?1628255125);
    background-size: cover;
    margin: auto;
    background-attachment: fixed;
    color: white;
  }
  
  h1, h2, h3 {
    color: #ffffff;
  }
  #rez{
    padding-top: 100px;
    color: #ffffff;
    margin: 0px auto;
    text-align: center;
    font-size: 55px;
    animation: fadeInUp 1s ease-out;
  }
  
  /* Forma za rezervaciju */
  #reservation_form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-out;
  }
  
  /* Labela za input polja */
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #fff5f5;
  }
  
  /* Input polja */
  input[type="text"], input[type="email"], input[type="promokod"], input[type="datetime-local"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Select polje */
  select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  /* Cena span */
  .cena-span {
    font-size: 1.2rem;
    color: #ccc;
  }
  
  /* Dugme za dodavanje usluge */
  button {
    background-color: #000000;
    color: #ccc;
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Dugme za slanje forme */
  input[type="submit"] {
    background-color: #f26725;
    color: white;
    margin: 20px 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: right;
  }
  
  /* Stil za ukupnu cenu */
  #ukupnaCena {
    color: #f26725;
  }
  
  /* Stil za usluge container */
  #usluge-container {
    margin-bottom: 1rem;
  }
  
  .usluga-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  /* Stil za selekt polje i prikazane cene */
  .usluga-select {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .prikazanaCena-1 {
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Dodatni stil za dugme za dodavanje usluge */
  button[type="button"] {
    background-color: #f26725;
    color: white;
    margin: 20px 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="button"]:hover {
    background-color: #e77000;
  }

    /* Animacije */
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
 